AI_SERVICE_HOST=127.0.0.1
AI_SERVICE_PORT=8000
AI_DATASET_DIR=datasets/defense-v1
AI_MODEL_DIR=models
AI_DETECTOR_MODEL=yolo11n.pt
AI_DETECTOR_CONFIDENCE=0.35
AI_DETECTOR_IOU=0.50
AI_DETECTOR_DEVICE=auto
AI_DETECTOR_MAX_DETECTIONS=100
AI_ALLOW_MODEL_DOWNLOAD=false
